body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 1em;
}

section {
    width: min-content;
    margin: 0 auto;
    padding: 2em;
}

#input-section {
    border: #3399FF solid 2px;
    border-radius: 10%;
}

#input-button-container {
    text-align: center;
}

#input-section label {
    display: flex;
    margin: 3% 0;
    align-items: center;
}

button {
    font-weight: bold;
    font-size: medium;
    background-color: #3399FF;
    color: white;
    border-radius: 5px;
    border: black solid 1px;
    transition: all 150ms ease-in-out 0s;
}

button:hover {
    color: gray;
    background-color: white;
    border-color: gray;
}

button:disabled {
    color: gray;
    background-color: white;
    border-color: gray;
}

#x-container button {
    font-size: small;
    color: #2d2d2d;
    background-color: white;
}

#x-container button:hover {
    color: white;
    background-color: #2d2d2d;
}

#x-container button:disabled {
    color: white;
    background-color: #2d2d2d;
}

#x-container {
    display: flex;
    gap: 0.1em;
    align-items: center;
}

#x-container label {
    padding: 0;
    margin: 0;
}

#r-container {
    display: flex;
    gap: 0.1em;
    align-items: center;
    margin-bottom: 1em;
}

#r-container label {
    padding: 0;
    margin: 0;
}

#result-page-section {
    width: min-content;
    margin: 0 auto;
    text-align: center;
}

#back-button-form {
    width: min-content;
}

#back-button {
    background-color: #2d2d2d;
}

#back-button:hover {
    color: #2d2d2d;
    background-color: white;
}

#result-table {
    border: black solid 1px;
    border-radius: 1em 1em 0 0;
    text-align: center;
    margin: 0 0 1em 0;
}

table .hit {
    background-color: lightgreen;
}

table .miss {
    background-color: pink;
}

th,
td {
    padding: 0.5em 1em;
}

header {
    background-color: #2d2d2d;
    color: white;
    font-family: sans-serif;
    padding: 0.5em;
    font-size: medium;
}

header a {
    color: white;
    transition: color 0.25s ease-out;
}

header a:hover {
    color: #3399FF;
}

header > .title {
    float: left;
    font-size: x-large;
    padding: 0;
    margin: 0;
}

header > .info {
    text-align: right;
    padding: 0;
    margin: 0;
}